<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="document">
            <h2><span>Document</span> {{ document.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ document.title }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ document.date }}</span>
                </dd>
                <dt><span>Abstract Desc</span></dt>
                <dd>
                    <span>{{ document.abstractDesc }}</span>
                </dd>
                <dt><span>Keywords</span></dt>
                <dd>
                    <span>{{ document.keywords }}</span>
                </dd>
                <dt><span>Source</span></dt>
                <dd>
                    <span>{{ document.source }}</span>
                </dd>
                <dt><span>Link</span></dt>
                <dd>
                    <span>{{ document.link }}</span>
                </dd>
                <dt><span>Topic</span></dt>
                <dd>
                    <div *ngIf="document.topic">
                        <a [routerLink]="['/topic', document.topic?.id, 'view']">{{ document.topic?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/document', document.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
